!<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- ===== 네비게이션 바 ===== -->
	<!--
		th:fragment="nav" - 이 태그에 이름을 붙여서 다른 html에서 불러다가 쓸 수 있게 함
		다른 파일에서 th:replace="~{fragments/layout::nav}"로 이 조각을 찾음
	-->
	<nav th:fragment="nav" class="nav-bar">
	    <a class="nav-title" th:href="@{/board/list}">📋 세미 프로젝트 게시판</a>
		<!-- 비로그인 상태일때 -->
	    <div class="nav-links">
			<th:block th:if="${session.loginMember == null}">	<!-- MemberController.java의 loginMember가 null(없음)이라면 아래의 코드를 실행한다. -->
	        	<a th:href="@{/member/login}">로그인</a>
	        	<a th:href="@{/member/join}">회원가입</a>
			</th:block>
			<!-- 로그인 상태일때 표시 -->
			<th:block th:unless="${session.loginMember == null}">	<!-- unless는 if의 반대뜻. th:if = "${session.loginMember != null}"라고 써도 된다. -->
				<span class="nav-name" th:text="${session.loginMember.memberName}">이름</span>님 환영합니다	<!-- MemberControler.java의 loginMember. loginMember는 MemberDTO타입이다. MemberDTO의 getter를 사용해서 memberName을 꺼내온다. -->
				<a th:href="@{/member/logout}">로그아웃</a>
				<a th:href="@{/board/write}" class="btn btn-primary" style="font-size:13px; padding:5px 12px;">게시글 쓰기</a>
			</th:block>
	    </div>
	</nav>
	
</body>
</html>